<!DOCTYPE html>
<html lang="en">
<head>
	<!--# include file="../includes/meta.html" -->
	<!--# block name="header-content" -->
	<!--# endblock -->
</head>
<body>
    <div class="container">
		<!--# include file="../includes/navbar.html" -->
        <div class="content">
		    <!--# block name="content" -->
		        <p>ruh roh, i forgot to add content</p>
		    <!--# endblock -->
		</div>
    </div>
	<!--# include file="../includes/footer.html" -->
	<!--# block name="scripts" -->
	<!--# endblock -->
</body>
</html>
